<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- 쿼리문 작성 -->
    
<mapper namespace="com.roadmap.board.dao.BoardMapper">
	
	<select id="getComment" parameterType="string" resultType = "hashMap">
        <!-- #SELECT UID, UCOMMENT, UDATE FROM USERCOMMENT WHERE RID = #{rid} -->
        SELECT USERINFO.USERID, USERCOMMENT.UCOMMENT, USERCOMMENT.UDATE FROM USERINFO, USERCOMMENT WHERE USERINFO.UID = USERCOMMENT.UID AND USERCOMMENT.RID = #{rid}
    </select>
    
    <insert id="insertComment" parameterType="commentDto">
    	INSERT INTO USERCOMMENT(RID, UID, UCOMMENT, UDATE) values (#{rid}, #{uid}, #{ucomment}, #{udate}) 
    </insert>
    
    <insert id = "insertViewCount" parameterType = "string">
    	INSERT INTO ROADMAPCOUNT(UID, RID) values (#{uid}, #{rid})
    </insert>
    
    <delete id="deleteComment" parameterType = "commentDto">
    	DELETE FROM USERCOMMENT WHERE UID=(#{uid}) and UDATE = (#{udate})
    </delete>
    
    <select id = "getLoveCount" parameterType = "int" resultType = "String">
    	SELECT COUNT(RID) FROM ROADMAPLOVE WHERE RID = #{rid}
    </select>
    
    <select id = "getLoveStatus" parameterType = "boardDto" resultType = "String">
    	SELECT DISTINCT(RID) FROM ROADMAPLOVE WHERE UID = #{uid} and RID = #{rid}
    </select>
    
    <insert id = "saveLove" parameterType = "boardDto">
    	INSERT INTO ROADMAPLOVE(RID, UID) VALUES (#{rid}, #{uid})
    </insert>
    
    <delete id = "deleteLove" parameterType = "boardDto">
    	DELETE FROM ROADMAPLOVE WHERE UID = #{uid} and RID = #{rid}
    </delete>
    
    <select id = "getUid" parameterType = "String" resultType = "String">
    	SELECT UID FROM USERINFO WHERE USERID = #{uid}
    </select>
    
    <select id = "getBoardList" parameterType = "String" resultType = "boardDto">
    	SELECT BOARDLIST.BID, BOARDLIST.UID, USERINFO.USERID, BOARDLIST.BTITLE, BOARDLIST.BDATE FROM BOARDLIST,USERINFO WHERE BTYPE = #{btype} AND BOARDLIST.UID = USERINFO.UID ORDER BY BOARDLIST.BID DESC
    </select>
    
    <select id = "getBoardText" parameterType = "String" resultType = "String">
    	SELECT BTEXT FROM BOARDLIST WHERE BID = #{bid}
    </select>
    
    <select id = "getBoardComment" parameterType = "String" resultType = "boardDto">
    	SELECT USERINFO.USERID, BOARDCOMMENT.UID, BOARDCOMMENT.BCOMMENT, BOARDCOMMENT.CDATE FROM BOARDCOMMENT,USERINFO WHERE BID = #{bid} AND USERINFO.UID = BOARDCOMMENT.UID
    </select>
    
    <delete id = "deleteBoardComment" parameterType = "commentDto">
    	DELETE FROM BOARDCOMMENT WHERE UID = #{uid} AND CDATE = #{cdate}
    </delete>
    
    <insert id = "insertBoardComment" parameterType = "commentDto">
    	INSERT INTO BOARDCOMMENT(BID, UID, BCOMMENT, CDATE) values (#{bid}, #{uid}, #{bcomment}, #{cdate}) 
    </insert>
    
    <update id="modifyBoard" parameterType = "BoardDto">
    	UPDATE BOARDLIST SET BTITLE = #{btitle}, BTEXT = #{btext} WHERE BID = #{bid};
    </update>
    
    <insert id = "insertBoard" parameterType = "BoardDto">
    	INSERT INTO BOARDLIST(UID,BTYPE,BTITLE,BTEXT,BDATE) VALUES (#{uid},#{btype},#{btitle},#{btext},#{bdate})
    </insert>
    
    <delete id = "deleteBoardCommentAll" parameterType = "String">
    	DELETE FROM BOARDCOMMENT WHERE BID = #{bid}
    </delete>
    
    <delete id = "deleteBoard" parameterType = "String">
    	DELETE FROM BOARDLIST WHERE BID = #{bid}
    </delete>
</mapper>